/* input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    border-radius: 4px;
    border: 1.5px solid rgb(0, 0, 0);
    padding: 10px 15px;
    margin-bottom: 10px;
    font-size: 14px;
    max-width: 300px;
  
  }
  
  
  
  button,
  input[type="submit"] {
    background: #070ee7;
    color: white;
    text-transform: uppercase;
    border: none;
   
    margin-top: 40px;
    font-size: 16px;
    font-weight: 100;
    
  }
  
  button:hover,
  input[type="submit"]:hover {
    background: #0fcee7;
  }
  
  button[type="submit"]:active,
  input[type="button"]:active,
  input[type="submit"]:active {
    transition: 0.3s all;
    transform: translateY(3px);
    border: 1px solid transparent;
    opacity: 1.8;
  }
  
  label{

  }
  
  button {
    display: block;
    appearance: none;
   
    border: 1px solid #333;
    margin-bottom: 10px;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 4px;
  }
  */